.main {
  display: flex;
  overflow-y: hidden; /* スクロール禁止 */
  height: 100vh;
}

.mainVisualBox {
  width: 95%;
  height: 100%;
}

.photo {
  width: 100%; /*横幅に合わせて設置*/
  height: 100vh;
  object-fit: cover;
  object-position: 50% 65%; /*画像の縦位置調整*/
}

.sidebar {
  width: 5%;
}

.p {
  writing-mode: vertical-rl; /* テキストの表示方向を縦書きに */
  text-orientation: upright; /* テキストの向きを調整 */
  margin: 7vh auto;
  font-weight: 200;
}
