.main {
  width: 80%;
  margin: auto;
  padding-bottom: 4rem;
}

.plofileArea {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vh;
}
.leftSide {
  margin: auto 0;
  width: 70%;
}
.nameArea {
  display: flex;
}
.name {
  margin-right: 1.5vw;
  margin-bottom: 2vh;
  font-size: 1.6rem;
  font-weight: 300;
}
.descriptionArea {
  width: 90%;
  font-size: 1.2rem;
}

.rightSide {
  width: 30%;
  text-align: center;
}
.img {
  border-radius: 50%;
  width: 230px;
  height: 230px;
  object-fit: cover;
}

.skillArea {
  margin-bottom: 4vh;
  height: 34vh;
}
.itemName {
  font-size: large;
  font-weight: 300;
}
.description {
  margin-bottom: 4vh;
}
