.main {
  margin-top: 0;
  margin: 1vh auto;
  padding-bottom: 4rem;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  @media screen and (max-width: 767px) {
    padding: 0 3rem;
  }
}

.p {
  margin: 5vh auto;
  margin-top: 0;
  font-size: 1.4rem;
}

/* フォーム */
.upper {
  display: flex;
  column-gap: 0.5rem;
  row-gap: 1rem;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.input {
  height: 4.5vh;
  width: 100%;
  padding: 0 1.5vh;
  border-radius: 1.2vh;
  border: 1px solid black;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.comment {
  height: 11rem;
  width: 100%;
  padding: 2vh 1.5vh;
  border-radius: 1.2vh;
  border: 1px solid black;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

/* エラー処理 */
.error {
  color: rgb(184, 96, 96);
  font-size: 2.3vh;
  font-family: "Zen Kaku Gothic New", sans-serif;
}
.errorName {
  margin-top: 1vh;
}

/* ボタン */
.btnArea {
  height: 5vh;
  margin: auto 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnArea:hover {
  transform: translateY(3px);
}

.btn {
  height: 2.5rem;
  width: 5rem;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.169);
  border: 1px solid black;
  z-index: 1;
  position: absolute;
  box-shadow: 0.5rem 0.5rem 0 rgba(139, 171, 178, 0.3);
}
.btn:disabled {
  color: rgb(234, 235, 235);
  background-color: rgb(160, 160, 160);
}
