.all {
  display: flex;
  width: 100%;
  height: 3.5rem;
  font-weight: 200;

  /* 表示位置 */
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.leftSide {
  width: 5.2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSide {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);

  animation-name: fadeLeftAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.linkArea {
  margin: auto 2%;
}

.link {
  font-size: large;
  margin: auto 8%;
}

.nameArea {
  display: flex;
  margin: auto 1%;
}

.p {
  width: 28vh;
  margin: auto 3%;
}
