.all {
  display: flex;
  width: 100%;
  height: 3.5rem;
  font-weight: 200;

  /* 表示位置 */
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.leftSide {
  width: 5.2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSide {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  background-color: #ffffffcc;
  animation-name: fadeRightAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.linkArea {
  margin: auto 2%;
}

.link {
  font-size: large;
  margin: auto 8%;
}

.nameArea {
  display: flex;
  margin: auto 1%;
}

.p {
  width: 28vh;
  margin: auto 3%;
}

.hamburgerMenu {
  display: flex;
  align-items: center;
  animation-name: fadeInAnime;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1s;
}
@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hamburgerIcon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.4s;
}

.open {
  .bar:nth-child(1) {
    opacity: 0;
  }
  .bar:nth-child(2) {
    transform: rotate(45deg) translate(2px, 1px);
  }
  .bar:nth-child(3) {
    transform: rotate(-47deg) translate(7px, -4px);
  }
  .bar:nth-child(4) {
    opacity: 0;
  }
}

.close {
  .bar:nth-child(1) {
    transform: rotate(-70deg) translate(-17px, -2px);
  }
  .bar:nth-child(4) {
    transform: rotate(-70deg) translate(13px, 1px);
  }
}

.bar {
  width: 38px;
  height: 1.1px;
  background-color: #353b42;
  margin: 4px 0;
  transition: 0.4s;
}
