.main {
  display: flex;
  /* overflow: hidden; スクロール禁止 */
  z-index: 3;
  height: 100vh;
  min-height: -webkit-fill-available;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.sidebar {
  min-width: 5rem;
  animation: slideinLeft 2s;

  @media screen and (max-width: 767px) {
    min-height: 3rem;
  }
}

@media screen and (min-width: 768px) {
  @keyframes slideinLeft {
    0% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media screen and (max-width: 767px) {
  @keyframes slideinLeft {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.photo {
  width: 100%; /*横幅に合わせて設置*/
  min-height: 100%;
  object-fit: cover;
  object-position: 50% 65%; /*画像の縦位置調整*/
  overflow-x: hidden;
  animation-name: fadeInAnime;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1s;
}
@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.link {
  display: flex;
  align-items: center;
  font-weight: 200;
  letter-spacing: 0.3rem;

  @media screen and (min-width: 768px) {
    width: 100%;
    margin-top: 1rem;
    writing-mode: vertical-rl; /* テキストの表示方向を縦書きに */
    text-orientation: upright; /* テキストの向きを調整 */
  }

  @media screen and (max-width: 767px) {
    min-height: 3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}
